#loadingSpinner {
    border: 3px solid;
    border-radius: 30%;
    border-color: bisque;
    width: 50px;
    height: 50px;
    animation: rotate 1s linear infinite;
    z-index: 2;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg)
    }
}

.dNone {
    display: none;
}

#equal{
    display: flex;
    width: 160px;
    justify-content: center;
}